<ion-view title="My Profile">
    <ion-content class="padding">

        <h1>My Profile</h1>

        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
        </label>

        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email">
        </label>

        <label class="item item-input">
            <span class="input-label">Telephone</span>
            <input type="tel">
        </label>

        <label class="item item-input">
            <span class="input-label">Age</span>
            <input type="tel">
        </label>

        <label class="item item-input">
            <span class="input-label">Birthday Month and Year</span>
            <input type="month">
        </label>

        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
        </label>

        <label class="item item-input">
            <span class="input-label">About Me</span>
            <input type="text">
        </label>

        <h1>Ranks</h1>
        <div class="item item-divider">
            Overall Status
        </div>
        <ion-checkbox ng-model="isChecked">Good Guy</ion-checkbox>
        <div class="item item-divider">
            Dating Goal
        </div>
        <ion-radio ng-model="choice" ng-value="'A'">For Fun and Friendship</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Steady or Long Term</ion-radio>
        <ion-radio ng-model="choice" ng-value="'C'">Towards Marriage</ion-radio>
        <div class="item item-divider">
            Public Profile
        </div>
        <ion-toggle ng-model="publicPrivate" toggle-class="toggle-calm">Public</ion-toggle>

    </ion-content>
</ion-view>
