<ion-view title="Ranks">
    <ion-content class="padding">
        <h1>Ranks</h1>
        <div class="item item-divider">
            Overall Status
        </div>
        <ion-checkbox ng-model="isChecked">Good Guy</ion-checkbox>
        <div class="item item-divider">
            Dating Goal
        </div>
        <ion-radio ng-model="choice" ng-value="'A'">For Fun and Friendship</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Steady or Long Term</ion-radio>
        <ion-radio ng-model="choice" ng-value="'C'">Towards Marriage</ion-radio>
        <div class="item item-divider">
            Public Profile
        </div>
        <ion-toggle ng-model="publicPrivate" toggle-class="toggle-calm">Public</ion-toggle>
    </ion-content>
</ion-view>
